<div class="container" id="panel2">
	<div class="row">
		<div class="col-lg-12">

			<%= image_tag "cityscape.png", class: "img-responsive", id: "city" %>
			<%= image_tag "herofacefront-01.png", class: "img-responsive", id: "herowatch" %>
			<%= image_tag "Title-01.png", class: "img-responsive", id: "maintitle" %>
			<div style="margin-bottom:100px"></div>
			<div style="margin-left: -1300px">
			<%= image_tag "ship3.png", style: "margin-bottom:700px", width:"90", height:"20", id:"ship3"%>
			<%= image_tag "ship2.png", style: "margin-bottom:500px", width:"25", height:"12", id:"ship2"%>
			<%= image_tag "ship1.png", style: "margin-bottom:300px", width:"50", height:"17", id:"ship1"%>
			</div>

			<script> 
				$(document).ready(function(){
					$("img#ship1").animate({left: "1250px"}, 8000);
					$("img#ship1").fadeOut("slow");
				});
			</script> 

			<script> 
				$(document).ready(function(){
					$("img#ship2").animate({left: "1300px"}, 15000);
					$("img#ship2").fadeOut("slow");
				});
			</script>

			<script> 
				$(document).ready(function(){
					$("img#ship3").animate({left: "1350px"}, 25000);
					$("img#ship3").fadeOut("slow");
				});
			</script>
		</div>
	</div>
</div>